<div>
    <h2 id="page-heading">
        <span jhiTranslate="onlineschoolApp.nauczyciel.home.title">Nauczyciels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nauczyciel" [routerLink]="['/nauczyciel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="onlineschoolApp.nauczyciel.home.createLabel">
            Create new Nauczyciel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="nauczyciels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="onlineschoolApp.nauczyciel.imie">Imie</span></th>
            <th><span jhiTranslate="onlineschoolApp.nauczyciel.nazwisko">Nazwisko</span></th>
            <th><span jhiTranslate="onlineschoolApp.nauczyciel.pesel">Pesel</span></th>
            <th><span jhiTranslate="onlineschoolApp.nauczyciel.email">Email</span></th>
            <th><span jhiTranslate="onlineschoolApp.nauczyciel.adres">Adres</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nauczyciel of nauczyciels ;trackBy: trackId">
                <td><a [routerLink]="['/nauczyciel', nauczyciel.id, 'view' ]">{{nauczyciel.id}}</a></td>
                <td>{{nauczyciel.imie}}</td>
                <td>{{nauczyciel.nazwisko}}</td>
                <td>{{nauczyciel.pesel}}</td>
                <td>{{nauczyciel.email}}</td>
                <td>{{nauczyciel.adres}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/nauczyciel', nauczyciel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nauczyciel', nauczyciel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'nauczyciel', { outlets: { popup: nauczyciel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
