<div>
    <h2 id="page-heading">
        <span jhiTranslate="onlineschoolApp.przedmiot.home.title">Przedmiots</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-przedmiot" [routerLink]="['/przedmiot/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="onlineschoolApp.przedmiot.home.createLabel">
            Create new Przedmiot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="przedmiots">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="onlineschoolApp.przedmiot.nazwa">Nazwa</span></th>
            <th><span jhiTranslate="onlineschoolApp.przedmiot.nauczyciel">Nauczyciel</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let przedmiot of przedmiots ;trackBy: trackId">
                <td><a [routerLink]="['/przedmiot', przedmiot.id, 'view' ]">{{przedmiot.id}}</a></td>
                <td>{{przedmiot.nazwa}}</td>
                <td>
                    <div *ngIf="przedmiot.nauczyciel">
                        <a [routerLink]="['../nauczyciel', przedmiot.nauczyciel?.id, 'view' ]" >{{przedmiot.nauczyciel?.email}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/przedmiot', przedmiot.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/przedmiot', przedmiot.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'przedmiot', { outlets: { popup: przedmiot.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
