<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="przedmiot">
            <h2><span jhiTranslate="onlineschoolApp.przedmiot.detail.title">Przedmiot</span> {{przedmiot.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="onlineschoolApp.przedmiot.nazwa">Nazwa</span></dt>
                <dd>
                    <span>{{przedmiot.nazwa}}</span>
                </dd>
                <dt><span jhiTranslate="onlineschoolApp.przedmiot.nauczyciel">Nauczyciel</span></dt>
                <dd>
                    <div *ngIf="przedmiot.nauczyciel">
                        <a [routerLink]="['/nauczyciel', przedmiot.nauczyciel?.id, 'view']">{{przedmiot.nauczyciel?.email}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/przedmiot', przedmiot.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
