<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ocena">
            <h2><span jhiTranslate="onlineschoolApp.ocena.detail.title">Ocena</span> {{ocena.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="onlineschoolApp.ocena.rodzaj">Rodzaj</span></dt>
                <dd>
                    <span>{{ocena.rodzaj}}</span>
                </dd>
                <dt><span jhiTranslate="onlineschoolApp.ocena.uczen">Uczen</span></dt>
                <dd>
                    <div *ngIf="ocena.uczen">
                        <a [routerLink]="['/uczen', ocena.uczen?.id, 'view']">{{ocena.uczen?.pesel}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="onlineschoolApp.ocena.przedmiot">Przedmiot</span></dt>
                <dd>
                    <div *ngIf="ocena.przedmiot">
                        <a [routerLink]="['/przedmiot', ocena.przedmiot?.id, 'view']">{{ocena.przedmiot?.nazwa}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_TEACHER']"
                    [routerLink]="['/ocena', ocena.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
